@model RtlTvMazeScraper.Core.Transfer.StorageCount

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TVMaze scraper</h1>
    <p class="lead">This application gets tv shows and cast from TVMaze.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            (re)load the shows from TVMaze.
        </p>
        <p>
            <a asp-controller="Scrape" asp-action="Index">Start scraper (MVC)</a>
        </p>
        <p>
            <a asp-page="/Scraper">Start scraper (SignalR)</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get shows</h2>
        <p>
            Get the JSON. Adjust the page (0-based pagenumber) and the pagesize (number of shows per page) in the URL.
        </p>
        <p>
            Currently available: @Model.ShowCount.ToString("N0") shows with a total of @Model.MemberCount.ToString("N0") actors.
        </p>
        <p>
            <a asp-route="apilist" asp-route-pageno="0" asp-route-pagesize="15" target="_blank">List shows as JSON</a>.
        </p>
    </div>
</div>